@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutP.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
    li {
        border-radius: 0.5em;
    }

    .cauhoi {
        padding-top: 1em;
        margin-top: 1em;
        border-radius: 0.5em;
        border: 0.5px solid #CCCCCC;
    }

    .see:hover {
        color: #00ffff;
    }
</style>

 @{   var u = Session["useView"] as Model.EF.BenhNhan; }

<div class="container">
    <br /><br /><br />
    <div class="col-xl-8 center">

        <ul class="nav text-center">
            <li class="nav-item col-md-3">
                <a class="nav-link active" data-toggle="tab" href="#home">TẤT CẢ</a>
            </li>
            <li class="nav-item col-md-3">
                <a class="nav-link" data-toggle="tab" href="#menu1">ĐÃ TRẢ LỜI</a>
            </li>
            <li class="nav-item col-md-3">
                <a class="nav-link" data-toggle="tab" href="#menu2">ĐANG XỬ LÝ</a>
            </li>
            <li class="nav-item col-md-3">
                <a class="nav-link" href="@Url.Action("CreateHoiDap", "Home")">ĐẶT CÂU HỎI </a>
            </li>
        </ul>
        <br />
    </div>
    @*<div class="col-xl-7 center">

        <div class="row">

            <div class="col-md-3">
                <a class="nav-link active" data-toggle="tab" href="#home">
                    <p class="text-center">
                        XEM TẤT CẢ
                    </p>
                </a>
            </div>
            <div class="col-md-3">
                <a class="nav-link" data-toggle="tab" href="#menu1">
                    <p class="text-center">
                        ĐANG XỬ LÝ
                    </p>
                </a>
            </div>
            <div class="col-md-3">
                <a class="nav-link" data-toggle="tab" href="#menu2">
                    <p class="text-center">
                        ĐÃ TRẢ LỜI
                    </p>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("CreateHoiDap", "Home")">
                    <p class="text-center">
                        THÊM CÂU HỎI
                    </p>
                </a>
            </div>
        </div>*@
    <br /><br />
</div>

        <div class="tab-content">
            <div id="home" class="container tab-pane active">

                @Html.Action("HoiDapFindAll", "CauHoiPartialView", new { IDBenhNhan = u.IDBenhNhan })
            </div>

            <div id="menu1" class="container tab-pane fade">

                @Html.Action("HoiDapFindDaTraLoi", "CauHoiPartialView", new { IDBenhNhan = u.IDBenhNhan })
            </div>

            <div id="menu2" class="container tab-pane fade">

                @Html.Action("HoiDapFindDangXuLy", "CauHoiPartialView", new { IDBenhNhan = u.IDBenhNhan })
            </div>


        </div>
@*<section>
        <div class="container ">
            <br />
            <div class="card border border-info">
                <div class="card-header border-bottom border-danger">
                    <div class="display icon-bars"> <p> <i class="fas fa-list"></i>  DANH SÁCH LỊCH HẸN</p></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped border table-bordered table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <th style="width:5%">STT</th>
                                    <th class="text-center">Câu hỏi</th>
                                    <th class="text-center">Ngày hỏi</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th style="width:5%" class="text-center"><center>#</center></th>
                                </tr>
                            </thead>
                            @{
                                var i = 1;

                            }

                            @foreach (var item in Model)
                            {

                                <tr class="table-light">
                                    <td style="width:5%" class="text-center">
                                        @(i++)
                                    </td>
                                    <td>
                                        @item.CauHoi
                                    </td>
                                    <td>
                                        @item.NgayHoi
                                    </td>
                                    <td>
                                        @{

                                            if (item.TrangThai == 0)
                                            {


                                                <h6 class="text-warning" style="padding-left:2em;"  data-toggle="tooltip" title="Câu hỏi đã được chuyển đến bác sĩ"><span class="badge badge-warning text-dark"><i class="fas fa-pause"></i> Đang xử lý</span></h6>


                                            }
                                            else
                                            {

                                                <h6 style="padding-left:2em;">  <span class="badge badge-success"><i class="fas fa-check-square"></i> Đã trả lời </span></h6>


                                            }
                                        }

                                    </td>


                                    <td style="width:5%" class="text-center">


                                        @{
                                            if (item.TrangThai != 0)
                                            {
                                              <a href="@Url.Action("IndexCH","CauHoi", new { IDCauHoi = item.IDCauHoi })" class="see text-center" data-toggle="tooltip" title="Xem câu trả lời"><i class="fas fa-eye" style="padding-left:2em;"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<br />
<br />
<br />
<br />
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
