
@model PagedList.IPagedList<Model.EF.Bacsi>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-holder border border-danger">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/Bacsis">Home</a></li>
            <li class="breadcrumb-item active">Danh sách bác sĩ</li>
        </ul>
    </div>
</div>
<section>
    <div class="container-fluid ">
       
        <header>
            @using (Html.BeginForm("Index", "Bacsis", FormMethod.Get))
            {
                <p>
                    Tên bác sĩ : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }

        </header>
        <div class="card border border-info">
            <div class="card-header border-bottom border-danger">
                <div class="display icon-bars">  Danh sách bác sĩ</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th >STT</th>
                                <th>Họ tên</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Trực thuộc khoa</th>
                                <th><center>@Html.ActionLink("Thêm mới ++", "Create", new { @class = "text-white " })</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model)
                            {

                            <tr class="table-light">
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
                                </td>
                                <td>

                                    <center>
                                        <a href="@Url.Action("Edit", new { id = item.IDBacsi }) " class="text-dark fa fa-edit">
                                        </a> |
                                        <a href="@Url.Action("Details", new { id = item.IDBacsi }) " class="text-primary fa fa-eye-slash">
                                        </a> |
                                        <a href="@Url.Action("Delete", new { id = item.IDBacsi })" class="text-danger fa fa-trash">
                                        </a>

                                    </center>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</section>
